@{
    ViewData["Title"] = "Резервное копирование";
}
<h2>@ViewData["Title"]</h2>
<form asp-action="Backup" method="post">
    <div class="form-group">
        <label>Путь для сохранения (.bak):</label>
        <input type="text" name="backupPath" class="form-control" value="C:\Users\khaly\OneDrive\Desktop\TaxDeclaration.bak" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Сделать резервную копию</button>
</form>
@if (ViewBag.Result != null)
{
    <div class="alert alert-info mt-3">@ViewBag.Result</div>
}
@if (TempData["Result"] != null)
{
    <div class="alert alert-info mt-3">@TempData["Result"]</div>
}