@{
    ViewData["Title"] = "Панель администратора";
}

<h2>Панель администратора</h2>

<p>Добро пожаловать, <strong>Администратор</strong>!</p>

<ul>
    <li><a asp-controller="Admin" asp-action="Logout">Выйти</a></li>
</ul>