@{
    ViewData["Title"] = "Панель инспектора";
}

<h2>Панель инспектора</h2>

<p>Добро пожаловать, <strong>Инспектор</strong>!</p>

<ul>
    <li><a asp-controller="Inspector" asp-action="Logout">Выйти</a></li>
</ul>