@{
    ViewData["Title"] = "Количество деклараций по инспекциям за текущий год";
    var declarations = ViewBag.DeclarationsCountByInspection as IEnumerable<dynamic>;
}

<h3>@ViewData["Title"]</h3>

@if (declarations != null && declarations.Any())
{
    <div class="table-responsive">
        <table class="table table-dark table-bordered table-striped mt-3">
            <thead>
            <tr>
                <th>Наименование инспекции</th>
                <th>Количество деклараций</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var row in declarations)
            {
                <tr>
                    <td>@row.InspectionName</td>
                    <td>@row.DeclarationCount</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info mt-2">
        Нет данных по декларациям за текущий год.
    </div>
}