@model decimal

@{
    ViewData["Title"] = "Сумма расходов, подлежащих налогообложению";
}

<div class="container mt-5 mb-5">

    <h1 class="text-center mb-5 display-4 fw-bold text-gradient"
        style="background: linear-gradient(90deg,#900c3f,#6f42c1);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
        @ViewData["Title"]
    </h1>
    <a asp-controller="Report" asp-action="TaxableExpenses">Показать расходы</a>
    @if (Model > 0)
    {
        <div class="alert alert-success p-5 text-center" style="font-size: 2rem;">
            Сумма расходов: <strong>@Model.ToString("N2")</strong> ₸
        </div>
    }

</div>