@model TaxDeclarationWeb.Models.Taxpayer
@{
    ViewData["Title"] = "Удаление налогоплательщика";
}

<h2>@ViewData["Title"]</h2>
<div class="alert alert-danger">
    <h4>Вы уверены, что хотите удалить этого налогоплательщика?</h4>
    <dl class="row">
        <dt class="col-sm-4">ИИН</dt>
        <dd class="col-sm-8">@Model.IIN</dd>
        <dt class="col-sm-4">ФИО</dt>
        <dd class="col-sm-8">@Model.FullName</dd>
        <dt class="col-sm-4">Инспекция</dt>
        <dd class="col-sm-8">@Model.Inspection?.Name</dd>
    </dl>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="IIN" />
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>
