@{
    ViewData["Title"] = "Панель налогоплательщика";
}

<h2>Панель налогоплательщика</h2>

<p>Добро пожаловать, <strong>Налогоплательщик</strong>!</p>

<ul>
    <li><a asp-controller="Account" asp-action="Logout">Выйти</a></li>
</ul>