@model TaxDeclarationWeb.Models.Inspection
@{
    ViewData["Title"] = "Удалить инспекцию";
}
<h2>@ViewData["Title"]</h2>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4>@Model.Name</h4>
    <p>@Model.Address</p>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Code" />
    <input type="submit" value="Удалить" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>