@{
    ViewData["Title"] = "Панель главного инспектора";
}

<h2>Панель главного инспектора</h2>

<p>Добро пожаловать, <strong>Главный инспектор</strong>!</p>

<ul>
    <li><a asp-controller="ChiefInspector" asp-action="Logout">Выйти</a></li>
</ul>